@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'fontelogo';
    src: url('fontes/abnes/abnes.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #078C03;
    --cor1: #0DF205;
    --cor2: #05F258;
    --cor3: #60B852;
    --cor4: #0460D9;
    --cor5: #0442BF;
    --cor6: #0439D9;
    --cor7: #044BD9;
    --cor8: #D98D04;
    --cor9: #F20505;
    --cor10: #E7E8EB;
    --cor11: #02054b;
    --cor12: #0442BF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'fontelogo';
}

body {
    font-family: var(--fonte-padrao);
    background-color: #E7E8EB;
}



header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor0), var(--cor0), #0ab404);
    min-height: 150px;
    text-align: center;
    padding-bottom: 0px;
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 0px;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    margin-top: -70px;
}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
/*---------------------------Abaixo do Banner-----------------------*/
.exterto{
    text-decoration: none;
}
.AbaixoDoBanner {
    width: 100%;
    margin-top: 100px;
    text-align:center;
    padding: 70px 0;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to top, #0460D9, #0451B5, #0460D9);
    text-decoration: none;
  

    

   
}
.imgT{
    margin-bottom: -6px;
}
.div1{
   
    display: inline-block;
    
    color: var(--cor10);
    font-family: "DM Sans", DM Sans, Sans-serif;
    font-size: 16px;
    font-weight: 450;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
       
}
.div2 {
    display: inline-block;
    margin: center;
    padding: 10px 30px 20px;
    color: #FFFFFF;
    font-family: "DM Sans", DM Sans, Sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-align: center; /* Centraliza o texto em telas menores */
}
.Telefone {
    display: ;
    margin: center;
    color: white;
    font-family: "DM Sans", DM Sans, Sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center; /* Centraliza o texto em telas menores */
}

.Numero {
    display: inline-block;
    margin: center;
    font-family: "DM Sans", DM Sans, Sans-serif;
    font-size: 20px;
    font-weight: bold;
    fill: var(--cor10);
    color: var(--cor10);
    background-color: var(--cor8);
    border-radius: 50px;
    width:100%;
    line-height: 1;
    padding: 16px 27px;
    text-align: center;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    border-style: solid;
    border-color: #f2da05; 
}
.Numero:hover {
    display: inline-block;
    margin: center;
    font-family: "DM Sans", DM Sans, Sans-serif;
    font-size: 20px;
    font-weight: bold;
    fill: var(--cor10);
    color: var(--cor10);
    background-color: #ee9c04;
    border-radius: 50px;
    width:100%;
    line-height: 1;
    padding: 16px 27px;
    text-align: center;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    border-style: solid;
    border-color: #f2da05; 
}
.Numero>a{
    color: white;
}
media (max-width:768px) {
    .baixoDoBanner {
        font-size: 25px;
        padding: 30px 0;
    }
    .div1 {
        font-size: 20px;
    }
    .div2 {
        font-size: 20px;
    }
    .Telefone {
        font-size: 16px;
    }
    .Numero {
        font-size: 18px;
        padding: 12px 20px;
    }
    .linha-vertical {
        height: 0px;
    } 
    

}


.linha-vertical {
    height: 150px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
   border-color: var(--cor10);
    
   display: inline-block;
  }

/*---------------------------MEIO-----------------------*/
main {
    min-width: 300px;
    max-width: 3200px;
    margin: auto;
    padding: 2px;
    background-color: var(--cor0); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-radius: 0px 0px 15px 15px;


}
main p {
    margin: 0px 0px;
    text-align: justify;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 2px 2px;
}

main a:hover {
    text-decoration: underline;
    color: #1E3C45;
}

main img {
    width: 100%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.473);
    margin-top: 15px;
}
/*-------------------------------VIDEO-------------------------*/
div.video {
    background-image: linear-gradient(to top,var(--cor3),var(--cor0));
    margin: auto;
    padding: 20px;
    margin-left: -245px;
    position: relative;

}

div.video>iframe {
    position: relative;
    top: 5%;
    left: 37%;
    width: 17%;
    height: 88%;
    min-width: 400px;
    min-height: 710px;
    margin-bottom: -20px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.479);

}


/*---------------------PARTE DA MULHER E TEXTO-------------------------------*/
.imgMulher>img {
    margin-top: -100%;
    max-width: 320px;


}

#meio {
    max-width: 2900px;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 220px;
    text-align: left;
}

/*---------------------PLANOS-------------------------------*/
#todosPlanos {
    padding: 4%;
    text-align: center;
    background-color: #60B852;
    margin: 0px;

}

.planoA {
    display: inline-block;
    margin: center;
    margin-top: 2%;
    margin-left: 1%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 11px;
    box-shadow: 1px 2px 10px 0px;
}



#especificacoes {
    padding: 2px 1px 5px 1px;

}

.mensalidade {
    border-radius: 10px 10px 10px 10px;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
/*---------------------MENU-------------------------------*/

nav {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.37);
    text-align: center;
    

}

nav>a {
    color: rgb(15, 59, 4);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.4;
    margin-left: 20px;
    position: relative;
    display: inline-block;


}

nav>a:hover {
   background-color: var(--cor5);
    color: white;

}
.menu {
    width: 100%;
    display: inline-block;
    
}

.menu nav a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 8px;
    position: relative;
    
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, var(--cor0), var(--cor1));
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.7s;
}

.menu nav a:hover::after {
    width: 100%;
}

.menu nav a:hover {
    color: #ffffff;
}
/*---------------------TEXTO ANTES DOS PLANOS-------------------------------*/
#escolha {
    background-color: ;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;

}

#escolha1 {
    background-color: ;
    color: rgb(119, 128, 136);
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
/*-----------------------IMAGEM PARAMOUNT E WATCH-------------------------------*/
#imgPW {
    text-align: center;
    background-color: #b9dff5;
}
/*-----------------------ANTES DO RODAPÉ-------------------------------*/

.wifiback {
            
    text-align: center;
    background-color: #60B852;
    margin-left: 0px;
    padding-bottom: 5%;
    padding-top: 2%;
}

div.wifi { 
     /* text-align: left; */ 
    display: inline-block;
    margin-left: 20px; /* Centraliza o bloco horizontalmente */ 
    margin-right: 10px;
    max-width: 400px;
    
}

/*-----------------------RODAPÉ-------------------------------*/
div.rodape {
    margin-top: 0px;
    max-width: 300px;
    display: inline-block;
    margin-right: 00px;

}

div.contatos {
    max-width: 250px;
    display: inline-block;
    margin-top: 10px;
}


div.endereco {
    max-width: 400px;
    display: inline-block;
    margin-top: 10px;
}

.imgrodape {
    position: relative;
}

footer {
    background-color: var(--cor11);
    color: white;
    text-align: center;
    font-size: 1.0em;
    padding: 50px;
    
}

footer a {
    color: white;
    
    text-decoration: none;
}

footer a:hover {
    text-decoration: solid;
    color: rgb(184, 216, 187);
}

/*------------BOTÃO--------------------*/


/* 15 */
.btn-15 {
    border: none;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(to right, var(--cor0), #08a303);
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #ffffff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

button {
    margin: 2px;
    text-align: center;


}

.custom-btn {
    width: 250px;
    height: 40px;
    color: #fff;
    border-radius: 5px;

    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}