@charset "UTF-8";

:root {
    --cor0: #12bb37 ;
    --cor1: #368948;
    --cor2: #a90cb8;
    --cor3: #DE800D;
    --cor4: #5E4C35;
    --cor5: #009944;
    --cor6: #04BF33;
    --cor7: #F29F05;
    --cor8: #590D8C;
    --cor9: #BF1F94;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'idroid';
}

