@charset "UTF-8";

:root {
    --cor0: #12bb37 ;
    --cor1: #368948;
    --cor2: #a90cb8;
    --cor3: #DE800D;
    --cor4: #5E4C35;
    --cor5: black;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'idroid';
}

